
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #333;
    font-size: 18px;
    line-height: 1.6;
}

header {
    display: flex;                  /* Usar Flexbox para layout */
    align-items: center;           /* Alinhar verticalmente ao centro */
    padding: 10px;                 /* Espaçamento interno do header */
}

.imagem {
    max-width: 100px;              /* Limitar o tamanho da imagem */
    margin-right: 15px;            /* Espaçamento à direita da imagem */
}

.logo {
    font-size: 28px;               /* Tamanho da fonte do logo */
    margin-right: auto;            /* Usar auto para empurrar os itens à direita */
}

nav {
    display: flex;                  /* Usar Flexbox para os links */
    margin-right: 10px;            /* Espaçamento à direita dos links de navegação */
}

nav a {
    margin: 0 20px;                /* Espaçamento entre os links */
    text-decoration: none;          /* Remover sublinhado dos links */
    font-size: 15px; 
}

/* Estilos gerais */


/* Contêiner do formulário */
.contact-form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

/* Título */
.contact-form h2 {
    font-size: 24px;
    color: #333333;
    margin-bottom: 20px;
}

/* Estilo dos rótulos */
.contact-form label {
    font-size: 16px;
    color: #555555;
    display: block;
    margin-top: 10px;
    text-align: left;
}

/* Estilo dos campos de entrada e área de texto */
.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    color: #333333;
    resize: vertical;
    box-sizing: border-box;
}

/* Ajustes para a área de texto */
.contact-form textarea {
    height: 100px;
}

/* Botão de envio */
.contact-form button {
    background-color: #007acc;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 15px;
    transition: background-color 0.3s;
}

.contact-form button:hover {
    background-color: #005f99;
}









footer {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #ccc;
}

footer a {
    color: #333;
    text-decoration: none;
}
