
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    color: #333;
    font-size: 18px;
    line-height: 1.6;
}

header {
    display: flex;                  /* Usar Flexbox para layout */
    align-items: center;           /* Alinhar verticalmente ao centro */
    padding: 10px;                 /* Espaçamento interno do header */
}

.imagem {
    max-width: 100px;              /* Limitar o tamanho da imagem */
    margin-right: 15px;            /* Espaçamento à direita da imagem */
}

.logo {
    font-size: 28px;               /* Tamanho da fonte do logo */
    margin-right: auto;            /* Usar auto para empurrar os itens à direita */
}

nav {
    display: flex;                  /* Usar Flexbox para os links */
    margin-right: 10px;            /* Espaçamento à direita dos links de navegação */
}

nav a {
    margin: 0 20px;                /* Espaçamento entre os links */
    text-decoration: none;          /* Remover sublinhado dos links */
    font-size: 15px; 
}

.search {
    display: flex;                  /* Usar Flexbox para o campo de busca */
    align-items: center;           /* Alinhar verticalmente ao centro */
}

.search label {
    margin-right: 5px;             /* Espaçamento à direita do label */
}

/* certificados.css */
.certificado {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f5f5f5;
    padding: 20px;
}

.certificado-image img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
    border: 2px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


footer {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #ccc;
}

footer a {
    color: #333;
    text-decoration: none;
}
